<!DOCTYPE html>
<html>
<head>
  <title>TheSoul - admin</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <a><%= link_to 'Sprava clanku', :articles %></a>
  <a><%= link_to 'Sprava ceniku', :prices %></a>
</nav>
<%= yield %>
</body>
