<!DOCTYPE html>
<html>
<head>
  <title>TheSoul</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section>
  <nav>
    <a><%= link_to 'Masaze', massages_index_path %></a>
    <a><%= link_to 'Pohyb', home_pohyb_path %></a>
    <a><%= link_to 'Vyziva', home_vyziva_path %></a>
    <a><%= link_to 'Cenik', home_cenik_path %></a>
    <a><%= link_to 'Kontakt', kontakts_path_path %></a>
  </nav>
</section>
<%= yield %>

</body>
</html>
